.container{
  margin: auto;
  padding-top: 10rem;
  justify-content: center;
}
.form-center{
  border: 0px;
  
}

.login-form {
  max-width: 50%;

}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}