.container{
  /* margin: auto; */
  padding-top: 9rem;
  justify-content: center;
  height: auto;
}

.login-form {
  border: 1px solid ;
  max-width: 55%;
  padding: 2rem;
  box-shadow: 1px 1px 1px #AAA;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}