<!-- <div><button nz-button nzSize="small" nzType="primary" class="btn-addUser" (click)="showModal()">Add User</button> -->
<!-- </div> -->
<nz-table #nzTable [nzData]="datas" nzTableLayout='fixed' [nzFrontPagination]="true"  
[nzLoading]="loading" 
[nzPageIndex]="pageIndex" 
[nzPageSize]="pageSize" 
(nzQueryParams)="onQueryParamsChange($event)"
>
    <thead>
        <tr>
            <th nzCustomFilter>
                ID
                <!-- <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0"
                        [nzDropdownMenu]="menu">
                        <i nz-icon nzType="search"></i>
                    </nz-filter-trigger> -->
            </th>
            <th>Name</th>
            <th>Type</th>
            <th>Date</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of datas">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.type}}</td>
            <td>{{item.date}}</td>
            <td>${{item.price}}</td>
            <td>
                <a>Action 一 {{ item.id }}</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a>Delete</a>
            </td>
        </tr>
    </tbody>
</nz-table>